* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  }
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: rgb(231, 197, 117);
    padding:1rem 2rem;
    display: flex;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}
.header-title{
    font-size: 2rem;
    font-weight: 600;
    color:rgb(165, 100, 40);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.header-tabs a{
    padding-bottom:6px;
    font-size: 1.1rem;
    transition:0.2 ease;
    border-bottom: 2px solid transparent;
    color: black;
}
.header-tabs a.active{
     border-bottom: 2px solid #645017;
     font-weight: 600;
}

nav a:hover,
nav a.active {
    color:rgb(239, 173, 60);
    border-bottom: 3px solid green;
}
.header-tabs{
    display:flex;
    gap:2rem;
}
 nav a {
    font-size:2rem;
 }
 body{
    padding-top:100px;
    min-height:120vh;
 }
 nav a:hover,
 nav a.active{
    padding:1rem;
    border-radius: 0.5 rem;
    border-bottom: 0.5 rem solid white;
 }

.container {
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
    grid-template-areas:
        "header header"
        "content sidebar"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin-left:5%;
    max-width: 900px;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        rgba(206, 140, 90, 0.6),
        rgba(165, 100, 60, 0.6)
    );
    border-radius: 15px;
    padding:30px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.container div:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.box{
    opacity: 0;
    transform: translateY(50px);
    transition:opacity 1s ease-out, transform 1s ease-out;
    max-width: 600px;
    width:90%;
    align-items:flex-start;
    border-radius:15px;
    padding:30px;
    width:50%;
    margin:40px auto;

}
.box.show{
    opacity: 1;
    transform: translateY(0);
}
.container .box:nth-child(even){
    align-self: flex-end;


}
.container .box:nthn-child(odd){
    align-self:flex-start;
}
.box:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}