* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body{

    background-color: azure;
    color: rgb(137, 93, 81)
}
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: rgb(231, 197, 117);
    padding:1rem 2rem;
    display: flex;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    color: rgb(137, 93, 81)

}
.header-title{
    font-size: 2rem;
    font-weight: 600;
    color:rgb(165, 100, 40);
}
.header-tabs a{
    padding-bottom:6px;
    font-size: 1.1rem;
    transition:0.2 ease;
    border-bottom: 2px solid transparent;
    color: black;
}
.header-tabs a.active{
     border-bottom: 2px solid #645017;
     font-weight: 600;
}

nav a:hover,
nav a.active {
    color:rgb(239, 173, 60);
    border-bottom: 3px solid green;
}
.header-tabs{
    display:flex;
    gap:2rem;
}
 nav a {
    font-size:2rem;
 }
 nav a:hover,
 nav a.active{
    padding:1rem;
    border-radius: 0.5 rem;
    border-bottom: 0.5 rem solid white;
 }
     iframe {
        display: block; /* Treat the iframe as a block-level element */
        margin: 0 auto; /* Set top/bottom margin to 0 and left/right margin to auto for centering */
        width: 1400px; /* Define a specific width for the iframe to allow margin:auto to work */
        height: 730px; /* Define a specific height */
    }
    p {
        color: rgb(137, 93, 81); 
    }