* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
 font-family: 'Poppins.zip', sans-serif;
}
body{
    font-size: 20px;
    padding-bottom:200px;
    font-family: 'Poppins.zip', sans-serif;
    text-align: center;
    background: linear-gradient(
        rgba(230, 190, 123, 0.6),
        rgba(237, 180, 88, 0.6),
        rgba(155, 117, 60, 0.6),
        rgba(166, 82, 30, 0.6) 
    );
}
header{
    border-color: #c9a371;
    border-width: 8px;
    border-style: solid;
    position: fixed;
    top:0;
    z-index: 9999;
    left:0;
    width:100%;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #3e5737;
    padding:0.5rem 2rem;
    height:110px;
    display: flex;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background: linear-gradient(
        #3b5435,
        #3b5435
    );
}
.header-title{
    font-size: 4rem;
    font-weight: 600;
    color:#eccc85;
    line-height: 1;
    font-family: 'Poppins.zip', sans-serif;
    text-align: center;
}
.header-tabs a{
    padding-bottom:6px;
    font-size: 2rem;
    padding:0.3rem 0;
    font-family: 'Poppins.zip', sans-serif;
    transition:0.2 ease;
    border-bottom: 2px solid transparent;
    color: #c6ab6e;
}
.header-tabs a.active{
     border-bottom: 2px solid #645017;
     font-weight: 600;
}
.home-info{
    margin-top:120;
}
nav a:hover,
nav a.active {
    color:rgb(239, 173, 60);
    border-bottom: 3px solid green;
}
.header-tabs{
    display:flex;
    gap:2rem;
}
     iframe {
        display: block; /* Treat the iframe as a block-level element */
        margin: 0 auto; /* Set top/bottom margin to 0 and left/right margin to auto for centering */
        width: 1400px; /* Define a specific width for the iframe to allow margin:auto to work */
        height: 730px; /* Define a specific height */
    }
 p {
    color: rgb(137, 93, 81);
    font-size: 36px;
    font-family: 'Poppins.zip', sans-serif;
    
 }