* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
h2 {
    font-size: 30;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
body{
    font-size: 20px;
    background-color: azure;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: rgb(231, 197, 117);
    padding:1rem 2rem;
    display: flex;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}
.header-title{
    font-size: 2rem;
    font-weight: 600;
    color:rgb(165, 100, 40);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.header-tabs a{
    padding-bottom:6px;
    font-size: 1.1rem;
    transition:0.2 ease;
    border-bottom: 2px solid transparent;
    color: black;
}
.header-tabs a.active{
     border-bottom: 2px solid #645017;
     font-weight: 600;
}

nav a:hover,
nav a.active {
    color:rgb(239, 173, 60);
    border-bottom: 3px solid green;
}
.header-tabs{
    display:flex;
    gap:2rem;
}
 nav a {
    font-size:2rem;
 }
 nav a:hover,
 nav a.active{
    padding:1rem;
    border-radius: 0.5 rem;
    border-bottom: 0.5 rem solid white;
 }
 p {
    color: rgb(137, 93, 81);
    
 }
 h2 {
    color: rgb(99, 62, 51);
    
 }
.container {
    display: flex;
    align-items: center;
    grid-template-areas:
        "header header"
        "content sidebar"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    max-width: 600px;
}

.container div {
    grid-area: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 140, 90);
    color: white;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 20px;
}
